@font-face {
  font-family: 'OMath-Editor';
  src:  url('fonts/OMath-Editor.eot?aflykk');
  src:  url('fonts/OMath-Editor.eot?aflykk#iefix') format('embedded-opentype'),
    url('fonts/OMath-Editor.ttf?aflykk') format('truetype'),
    url('fonts/OMath-Editor.woff?aflykk') format('woff'),
    url('fonts/OMath-Editor.svg?aflykk#OMath-Editor') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'OMath-Editor' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-close:before {
  content: "\e90d";
}
.i-circle-info:before {
  content: "\e90c";
}
.i-rotate:before {
  content: "\e90b";
}
.i-folder-plus:before {
  content: "\e909";
}
.i-file-circle-plus:before {
  content: "\e90a";
}
.i-download:before {
  content: "\e906";
}
.i-upload:before {
  content: "\e907";
}
.i-trash-can:before {
  content: "\e908";
}
.i-folder-tree:before {
  content: "\e905";
}
.i-triangle-exclamation:before {
  content: "\e904";
}
.i-topic-article:before {
  content: "\e900";
}
.i-topic-practicum:before {
  content: "\e901";
}
.i-topic-summary:before {
  content: "\e902";
}
.i-grip-vertical:before {
  content: "\e903";
}
