@use 'def/size';
@use 'include/util';

body > main > header
{
    background: var(--c_bg);
    border-bottom: 1px solid var(--c_border);

    display: flex;
    gap: size.$gap;
    padding-left: size.$gap;

    > .tabs
    {
        display: flex;
        gap: size.$gap;

        > button
        {
            width: 50px;
            font-size: 25px;
            line-height: 0;
            color: var(--c_text-dimmed);
            background: var(--c_bg);
            border-bottom: 2px solid transparent;
            cursor: pointer;

            @include util.transition(color, border-color);

            &:not([data-current]):hover
            {
                color: var(--c_text);
                border-color: var(--c_border);
            }

            &[data-current]
            {
                color: var(--c_text);
                border-color: var(--c_text-dimmed);
            }
        }
    }
}

body > main > .wrapper
{
    > .editor { background: #1e1e1e; /* Same as Monaco bg */ }

    > .grip
    {
        @include util.flexCC;
        color: var(--c_text-dimmed);
        background: var(--c_bg-accent);
        cursor: ew-resize;
    }

    > .preview
    {
        position: relative;
        overflow: hidden;

        border-left: 1px solid var(--c_border);

        > .resizeOverlay
        {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: transparent;

            &:not([data-showing]) { display: none; }
        }

        > iframe
        {
            width: 100%;
            height: 100%;
        }
    }
}