// Preloading fonts

link(rel="preload", href="/assets/fonts/sans-serif/OpenSans.ttf", as="font", type="font/ttf", crossorigin="")
link(rel="preload", href="/assets/fonts/sans-serif/OpenSans-Italic.ttf", as="font", type="font/ttf", crossorigin="")