doctype html
html(data-theme="light", class="displayTodo")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="color-scheme", content="light")

        // Core
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet", href="/assets/fonts/icons/style.css")
        script(src="script.js")

        // Content
        link(rel="stylesheet", href="/content/style.css")
        link(rel="stylesheet", href="/content/assets/icons/style.css")
        script(src="/content/script.js")

        // KaTeX
        link(rel="stylesheet", href="/content/assets/vendor/katex/katex.min.css")

        // PhotoSwipe
        link(rel="stylesheet", href="/content/assets/vendor/photoswipe/photoswipe.css")
        link(rel="stylesheet", href="/content/assets/vendor/photoswipe/photoswipe-dynamic-caption-plugin.css")
        script(src="/content/assets/vendor/photoswipe/photoswipe.umd.min.js")
        script(src="/content/assets/vendor/photoswipe/photoswipe-lightbox.umd.min.js")
        script(src="/content/assets/vendor/photoswipe/photoswipe-dynamic-caption-plugin.umd.min.js")

    body
        #preview
            article
                header
                    .target
                    i.i-close
                .content(data-content)

        article(data-content)